.main {
    width: 200px;
    height: 100px;
    background-color: burlywood;
}
.border {
    border: 2px solid red;
}
.bar {
    width: 200px;
    height: 100px;
    background-color: darkgrey;
}
.item {
    width: 200px;
    height: 100px;
    background-color: cornflowerblue;
}